body{
    margin: 0;
    padding: 0;
  }
.top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }
  